
body {
    height: 4000px;
    padding-top: 56px; 
    padding-left:6px;
    
    
} 

a:hover{
    color: rgb(133, 133, 216);
} 

.navbar-brand {
    font-weight: 500;
font-size: x-large;

} 

nav{
    font-weight: 600; 
    color: black;
  }

